// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    text-align: center;
    background-color: rgba(102, 51, 153, 0.3);
    
    header {
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        min-width: 1200px;
        margin: 0 auto;
        padding: 50px;
        background-color: steelblue;
        border-radius: 30px;

        a {

            text-decoration: none;
            color: white;
        }
    }
    
    #posts_link {
        
        display: block;
        padding: 10% 0;
        font-size: 2em;
    }
    
    #post_area {
        
        position: relative;
        margin: 0 auto;
        width: 60%;
        
        .post_box {
            
            width: 100%;
            border-radius: 50px;
            display: inline-block;
            margin: 15px 0;
            padding-bottom: 5px;
            position: relative;

            .post_title {

                display: inline-block;
                color: rgb(0, 0, 0);
                padding: 25px;
                text-transform: uppercase;
            }

            .post_subtitle {

                color: white;
            }

            .post_author {

                font-weight: 900;
                font-size: 2em;
                padding: 20px;
            }
            
            .post_text {

                width: 80%;
                margin: 0 auto;
                padding: 20px;
            }

            .post_date {

                display: inline-block;
                margin: 0 auto;
                color: blue;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 20px;
                padding: 5px;
            }

            .post_cat {

                position: absolute;
                text-transform: uppercase;
                font-size: 2.5em;
                left: 0;
                transform: rotate(-90deg);
                width: 180px;
            }

            &.general {

                background-color: rgba(255, 255, 0, 0.4);
            }

            &.politics {

                background-color: rgba(25, 0, 255, 0.4);
            }

            &.sports {

                background-color: rgba(174, 0, 255, 0.4);
            }

            &.gaming {

                background-color: rgba(255, 153, 0, 0.4);
            }

            &.tech {

                background-color: rgba(123, 255, 0, 0.4);
            }

            &.economy {

                background-color: rgba(0, 153, 255, 0.4);
            }
        }

        #create_post {

            display: inline-block;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 20px;
            border-radius: 20px;
            position: sticky;
            bottom: 50px;
            left: 70%;
            font-size: 3em;
            font-weight: 900;
            
            a {
                                
                color: red;
                text-decoration: none;
            }
        }
    }

    footer {

        padding-top: 50px;
    }
}