// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    
    text-align: center;
    background-color: rgba(102, 51, 153, 0.3);
    
    header {
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        min-width: 800px;
        margin: 0 auto;
        padding: 50px;
        background-color: steelblue;
        border-radius: 30px;

        a {

            text-decoration: none;
            color: white;
        }
    }
    
    #posts_link {
        
        display: block;
        padding: 10% 0;
        font-size: 2em;
    }
    
    #post_area {
        
        position: relative;
        margin: 0 auto;
        width: 50%;
        
        .post_box {
            
            background-color: rgba(255, 255, 0, 0.4);
            border-radius: 50px;
            display: inline-block;
            min-width: 800px;
            margin: 15px 0;
            padding-bottom: 5px;

            .post_title {

                display: inline-block;
                color: rgb(35, 67, 211);
                padding: 25px;
                text-transform: uppercase;
            }

            .post_subtitle {

                color: grey;
            }

            .post_author {

                font-weight: 900;
                font-size: 2em;
                padding: 20px;
            }
            
            .post_text {

                padding: 20px;
            }

            .post_date {

                width: 80%;
                margin: 0 auto;
                color: blue;
                background-color: yellowgreen;
                border-radius: 20px;
                padding: 5px 0;
            }
        }

        #create_post {

            display: inline-block;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 20px;
            border-radius: 20px;
            position: sticky;
            bottom: 50px;
            left: 70%;
            font-size: 3em;
            font-weight: 900;
            
            a {
                                
                color: red;
                text-decoration: none;
            }
        }
    }

    footer {

        padding-top: 50px;
    }
}